<!doctype html>
<html>
    <head>

        <title>Genres</title>

    </head>
    <body>
    <ul>

        <% @genres.each do |genre|     %>
     <li> <%= genre.name %>
          <% end %>
    </li>

    </ul> 

    </body>
</html>