<!doctype html>
<html>
    <head>

        <title>Artists</title>

    </head>
    <body>
    <ul>

    <% @artists.each do |artist| %>
     <li> <%= artist.name %> 
          <% end %>
    </li>

    </ul> 

    </body>
</html>