<!doctype html>
<html>
    <head>
    <title><%= @songs.name %></title>

    </head>
    <body>
        <ul>
            
     <li> <%= @songs.artist.name %>
     </li>
      <li> <%= @songs.genre.name %>
     </li> 
     <li> <%= @songs.genre.artists %>
     </li>
        </ul>
    </body>
</html>