<!DOCTYPE html>
<html>
<head>
  <title>Playlister 2</title>
</head>
<body>
<a href="artists/index.html">Artists</a> <%= @artists.count %>
<a href="genres/index.html">Genres</a> <%= @genres.count %>
<a href="songs/index.html">Songs</a> <%= @songs.count %>
</body>
</html>